pandas
numpy
scikit-learn
mlflow
streamlit
requests
fastapi
boto3
uvicorn
pydantic         # For FastAPI input validation
python-dotenv    # For managing environment variables (e.g., MLflow URI, S3 bucket)
gunicorn         # For serving FastAPI in production (instead of uvicorn directly)
dagshub
python-dotenv
